*{
    font-family: 'Mulish', sans-serif;
}
/*nav section*/
.nav-flex{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    display: inline;
    color: rgb(248, 88, 24);
font-size: 1.5rem;
font-weight: 800;
}
a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
li{
    list-style: none;
    margin-left: 100px;
    
}
nav>ul{
    display: flex;
    justify-content: space-around;   
}
.home{
    color: #FF5400;
text-align: center;
font-size: 1rem;
font-weight: 700;
}
.block{
    display: none;
}
/*banner*/
.banner{
    max-width: 1440px;
    margin: 0px 30px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,url('../image/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 70px;
}
.banner-search{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    padding: 16px;
    margin-left: 150px;
}
.banner-input{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
padding-left: 10px;
}
.btn-primary{
    border-radius: 8px;
background: #FF5400;
width: 174px;
height: 52px;
color: #FFF;
cursor: pointer;
}
.banner-title{
    text-align: center;
    color: #FFF;
font-size: 4rem;
font-weight: 800;
}
.banner-des{
    color: #FFF;
text-align: center;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
width: 676px;
margin-left: 250px;
}

/*section-1*/
.section-1{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 30px 0px 30px;
}
.section-1-written{
    max-width: 600px;
    text-align: justify;
}
.section-1-title{
    color: #131318;
text-align: center;
font-size: 3rem;
font-weight: 800;
}
.section-1-des{
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
line-height: 26px;
}
.section-1-list{
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
line-height: 26px;
}
.first-l::first-letter{
    font-size: 2rem;
    color: #FF5400;

}
/* section-2*/
.section-2{
    max-width: 1440px;
    margin-top: 100px;
}
.section-2-flex{
    display: flex;
    flex-flow: wrap;
    gap: 30px;
    margin: 100px 10px 0px 20px;
}
.flex-2{
    width: 573px;
height: 284px;
padding: 30px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.flex-2-g{
    width: 573px;
height: 284px;
padding: 30px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.flex-2-l{
    width: 573px;
height: 284px;
margin-left: 300px;
padding: 30px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.section-2-title{
    color: #131318;
text-align: center;
font-size: 2.8rem;
font-weight: 800;
}
.section-2-des{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
}
.flex-2-title{
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
line-height: 26px;
}
.flex-2-des{
    color: #5A5A5D;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
}
/*section-3*/
.section-3{
    max-width: 1440px;
    margin: 100px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-3-img{
    position: relative;  
}
.absolute{
    color: #FFF;
    text-align: center;
    position: absolute;
    margin-left: 340px;
    margin-top: -175px;
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
}
.section-3-written{
    width: 474px;
padding: 30px;
border-radius: 16px;
border: 1px solid #FF5400;
}
.section-3-input{
    width: 393px;
height: 52px;
padding: 5px;
border: #FFF;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}
.btn-primary-3{
    color: white;
    width: 393px;
    height: 52px;
border: #FF5400;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
}
.section-3-title{
    color: #131318;
font-size: 1.5rem;
font-weight: 800;
}
.section-3-des{
    color: #5A5A5D;
font-size: 1rem;
font-weight: 400;
line-height: 26px; 
}
hr{
    margin: 50px 0px;
}
.bonus{
    max-width: 1440px;
    margin: 200px 150px 0px 150px;
    border-radius: 16px;
    padding: 10px 0px 10px 50px;

background: rgba(251, 181, 99, 0.05);
}
.bonus-flex{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.bonus-flex-2{
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.bonus-flex-3{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 50px 30px 0px 30px;
}
.bonus-title{
    text-align: center;
}
.relative{
    cursor: pointer;
    position: relative;
    border-radius: 16px;
background: linear-gradient(0deg, rgba(10, 10, 10, 0.2) 0%, rgba(7, 7, 7, 0.2) 100%), rgb(148, 139, 139) 50% / cover no-repeat;
}
.absolute-2{
    color: black;
    position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
/*destination*/
.destination{
    max-width: 1440px;
    margin: 100px 30px 0px 100px;
}
.destination-1{
    
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: 50px;

}
.destination-2{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.destination-3{
    display: flex;
    gap:30px;
}
.relative-2{
    cursor: pointer;
    position: relative;
    border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%)
}
.absolute-3{
    color: #FFF;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
text-align: center;
font-size: 1.8rem;
font-weight: 800;
  
}
.destination-title{
    color: #131318;
text-align: center;
font-size: 3rem;
font-weight: 800;
}
.destination-des{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
}







































/* responsive-mobile*/
@media screen and (max-width:600px){
  li{
    display: none;  
  } 
  .block{
    display: block;
  } 
  a{
    background:url('../image/Screenshot_3.jpg');
    background-repeat: no-repeat;  
}
.banner{
    width: 335px;
    height: 483px;
padding: 10px 100px;
background-size: 250%;

}
.banner-des{
    margin: auto;
    max-width: 380px;
    
}
.banner-title{
   font-size: 22px; 
}
.banner-search{
    display: flex;
width: 187px;
padding:  15px 86px;
flex-direction: column;
align-items: center;
gap: 30px;
margin: 10px 0px 10px 5px;
}
.banner-input{
    width: 274px;
height: 52px;
}
.btn-primary{  
width: 290px;
}
.section-1{
    flex-direction: column;
    gap: 30px;
}

.flex-2-l{
margin-left: 0px;
}
.section-3{
    flex-direction: column;
    gap: 30px;
}
.img{
    width: 535px;
height: 300px;
}
.absolute{
    width: 214.023px;
height: 79.268px;
padding: 10px;
transform: rotate(-19.628deg);
margin-left: 290px;
}
.bonus{
    background-color: #FFF;

}
.bonus-flex{
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}
.bonus-flex-2{
    flex-direction: column;
    
}
.bonus-flex-3{
    flex-direction: column;    
}

.destination{
    margin-right: 30px;
}
.destination-1{
    flex-direction: column;


}
.destination-2{
    flex-direction: column;
    
}
.destination-3{
    flex-direction: column;
}
.relative-2{
    background: none;
}
.sa{
width: 535px;
height: 378px;

}
}















@media screen and (min-width:601px) and (max-width:992px) {
    .nav-flex{
        flex-direction: column;
        align-items: center;
        margin-right: 120px;
    }
    nav>ul{
        flex-direction: column;
        align-items: center;
        margin-right: 120px;
    }
    .banner{
        width: 590px;
        height: 483px;
    padding: 10px 100px;
    background-size: 250%;

}
.banner-des{
    margin: auto;
    max-width: 380px;
    
}
.banner-title{
   font-size: 22px; 
}
.banner-search{
    display: flex;
width: 187px;
padding:  15px 86px;
flex-direction: column;
align-items: center;
gap: 30px;
margin: 10px 0px 10px 105px;
}
.banner-input{
    width: 274px;
height: 52px;
}
.btn-primary{  
width: 290px;
}
.section-1{
    flex-direction: column;
    gap: 30px;
}
.flex-2-l{
    margin-left: 0px;
}
.section-2-flex{
    margin: 0px 200px;
}
.section-3{
    flex-direction: column;
    gap: 30px;
}
.img{
    width: 535px;
height: 300px;
}
.absolute{
    width: 214.023px;
height: 79.268px;
padding: 10px;
transform: rotate(-19.628deg);
margin-left: 290px;
}
.bonus-flex{
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}
.bonus{
    background-color: #FFF;

}
.destination-1{
    flex-direction: column;


}
.destination-2{
    flex-direction: column;
    
}
.destination-3{
    flex-direction: column;
}
.relative-2{
    background: none;
}
.sa{
width: 835px;
height: 378px;

}
}
    